<html ng-app="personalSite">
    <head>
        <title>Personal Site</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
        <script src="/static/demo.js"></script>
    </head>
    <body>
        <a href="#/">Go home</a>
        <a href="#/resume">See resume</a>
        <a href="#/blog">See blog</a>
        
        <div ng-view></div>

    </body>
</html>